@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  background-color: #111315;
  margin: 0;
}

.bg-image {
  margin: 16vh 0;
}

.bg-image,
.bg-image-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../public/vector.svg");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 70% 40px;
  background-color: #1b1d1f;
  border-radius: 8px;
  padding: 8px;
  width: 80%;
}

.menu {
  width: 100%;
}

.span-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.p-introduction {
  width: 80%;
  color: #6f757c;
  font-size: 1rem;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/bg-cafe.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.div-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

button {
  background: none;
  border: none;
  color: #ffffff;
}

button:checked {
  background-color: #6f757c;
}

.button-option {
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.option-radio {
  display: none;
}

/* Estilo para el botón de la opción seleccionada */
#option1:checked + label[for="option1"],
#option2:checked + label[for="option2"] {
  background-color: #6f757c;
}

.div-list-coffees {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: flex-start;
}

.item-carta {
  display: flex;
  flex: 1 1 30%;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
  min-width: 245px;
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  max-width: 245px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 8px;
}

.div-column-data {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.span-name-coffee {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 800;
}

.button-price {
  background-color: #bee3cc;
  border-radius: 4px;
  color: #1b1d1f;
  font-size: 0.75rem;
  font-weight: 600;
}

.span-rating {
  color: #ffffff;
}

.span-votes {
  color: #6f757c;
}

.div-raiting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.span-available {
  color: #ed735d;
  font-size: 0.875rem;
  font-weight: 800;
}

.div-raiting-available {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
